body {
    color: #023;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    padding-top: 10%;
}

h2 {
    padding-top: 5%;
    font-size: 2.5rem;
    font-weight: 800;
    text-align: center;
}
h3 {
    font-weight: 700;
    font-size: 1.4rem;
}
p {
    font-size: 1rem;
    font-weight: 400;
}

h4 {
    font-weight: 1.2rem;
}
.container-fluid {
    padding: 0 10% 3%;
}
.row {
    padding-top: 50px;
}

/* title section */
#title {
    background-color:#a5e1ad;
}
nav {
    position: sticky;
    top: 0;
    color: #023;
}
.navbar-brand {
    font-size: 2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    color: #023;
}
.navbar-brand.custom {
    color: #023;
}
.navbar-item {
    padding-left: 30px;
}

.title-img{
    max-width: 100%;
}
.btn {
    margin: 20px 5px 20px 0px ;
}

/* title section media class*/
@media only screen and (max-width: 1200px) {
    h1 {
        padding-top: 0;
    }


/* Product section */
.product-box {
    padding: 10px;
}
@media only screen and (max-width: 768px) {
    .product-img {
        max-width: 60%;
    }